@import url("reset.css");
@import url("fonts.css");

body {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background-color: rgb(241, 213, 175);
}

.wrapper {
    position: relative;
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;
}

.footer,
.header {
    background-color: hsl(98, 61%, 76%);
}

.experiments,
.task,
.footer,
.header {
    padding: 10px;
}

.header__container {
    text-align: center;
}

.submenu__item,
.menu__item {
    position: relative;
    display: inline-block;
}

.submenu__item:hover .submenu__link,
.menu__item:hover .menu__link {
    color: #dc143c;
}

.menu__item:hover .menu__submenu {
    opacity: 1;
    visibility: visible;
}

.header .menu__item:not(:last-child) {
    margin-right: 500px;
}

.menu__link {
    padding: 10px;
    font-size: 18px;
}

.submenu__link,
.menu__link {
    font-size: 18px;
}

.menu__submenu {
    position: absolute;
    top: 100%;
    left: 20px;
}

.menu__submenu {
    background-color: #1dc48c;
    border: 2px solid rgb(51, 112, 51);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}

.submenu {
    width: 150px;
    padding: 15px;
}

[class*="__link"] {
    color: rgb(27, 141, 218);
    padding: 20px 20px;
}

[class*="__link"] {
    margin-left: 10px;
}

h3,
h2,
h1 {
    text-align: center;
}

h2,
h1 {
    color: #c02f4c;
    line-height: 1.8;
    letter-spacing: 7px;
}

h1 {
    font-size: 42px;
    text-shadow: 3px 3px 5px rgba(255, 0, 170, 0.507);
}

.card__price p,
h1,
h3 {
    font-weight: 800;
}

h2 {
    font-size: 38px;
    font-weight: 700;
}

h3 {
    font-size: 32px;
}

h4 {
    font-weight: 500;
}

h3,
h4 {
    line-height: 125%;
    color: #2f302c;
}

span {
    color: #136449;
}

[class*="__link--none-margin"] {
    padding: 5px 10px;
    margin-left: 0;
}

[class*="__wrapper"],
.header__container {
    margin: 0 auto;
}

[class*="__wrapper"],
.header__container {
    max-width: 1350px;
}

h3,
h2,
h1,
[class*="__wrapper"] {
    margin-bottom: 30px;
}

.footer__container p {
    margin-left: 30px;
}

.container__dad {
    display: flex;
    background-color: rgb(170, 100, 30);
    border: 2px solid rgb(189, 91, 11);
    border-radius: 20px;
    padding: 15px;
    gap: 20px;
    margin-bottom: 30px;
}

.container__child {
    min-width: 170px;
    min-height: 75px;
    background-color: rgb(56, 166, 230);
    border: 2px solid rgb(7, 108, 167);
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding: 25px;
}

[class*="--nowrap"] {
    max-width: 450px;
}

[class*="--wrap"] {
    min-width: 100px;
    flex-wrap: wrap;
}

[class*="--wrap-reverse"] {
    min-width: 200px;
    flex-wrap: wrap-reverse;
}

[class*="--width"] {
    max-width: 215px;
}

[class*="--main-end"] {
    justify-content: flex-end;
}

[class*="--main-center"] {
    justify-content: center;
}

[class*="--space-between"] {
    justify-content: space-between;
}

[class*="--space-around"] {
    justify-content: space-around;
}

[class*="--space-evenly"] {
    justify-content: space-evenly;
    gap: 0px;
}

[class*="--cross-start"] {
    align-items: flex-start;
}

[class*="--little"] {
    height: 80px;
}

[class*="--cross-end"] {
    align-items: flex-end;
}

[class*="--cross-center"] {
    align-items: center;
}

[class*="--font"] {
    font-size: 44px;
    padding: 15px;
}

[class*="--cross-baseline"] {
    align-items: baseline;
}

[class*="--row-reverse"] {
    flex-direction: row-reverse;
}

[class*="--column"] {
    flex-direction: column;
}

[class*="--column-reverse"] {
    flex-direction: column-reverse;
}

[class*="--flex"] {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    max-width: 1000px;
}

[class*="--align-self"] {
    min-height: 500px;
}

[class*="--align-self"] .container__child:nth-child(1) {
    align-self: center;
}

.container__dad--align-self .container__child:nth-child(3) {
    align-self: flex-start;
}

[class*="--align-self"] [class*="__child"]:nth-child(5) {
    align-self: flex-end;
}

[class*="--grow"] {
    flex-grow: 1;
}

[class*="--shrink"] {
    flex-shrink: 0;
}

[class*="--order"] .container__child:nth-child(1) {
    order: 2;
}

[class*="--order"] .container__child:nth-child(2) {
    order: 4;
}

[class*="--order"] .container__child:nth-child(3) {
    order: 1;
}

[class*="--order"] .container__child:nth-child(4) {
    order: 5;
}

[class*="--order"] .container__child:nth-child(5) {
    order: 3;
}

.task {
    background-color: rgb(255, 255, 255);
}

.task__wrapper {
    max-width: 1392px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task__products {
    margin-bottom: 82px;
}

.products__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 52px;
}

.products__title {
    margin-bottom: 36px;
    text-transform: uppercase;
}

.products__menu {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 72px;
}

.menu-products__item {
    position: relative;
}

.menu-products__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #2f302c;
    text-transform: uppercase;
    margin: 0;
    padding: 0 10px;
}

.menu-products__link::after {
    content: "";
    display: block;
    height: 1.7px;
    background-color: #2f302c;
    width: 0%;
    transition: width 0.9s;
    margin-top: 8px;
}

.menu-products__link:hover::after {
    width: 100%;
}

.products__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 36px;
}

.products__card {
    flex: 0 1 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: box-shadow 0.7s;
}

.products__card:hover {
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 5px 7px rgba(0, 0, 0, 0.24);
}

.card a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__img {
    margin-bottom: 32px;
}

.card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    padding-bottom: 10px;
    flex-grow: 1;
}

.card__title {
    text-transform: uppercase;
    padding: 0 10px;
    flex-grow: 1;
    transition:
        scale 0.6s,
        color 0.6s;
}

.card__body .card__title:hover {
    scale: 1.03;
    color: #0a4e5f;
}

.card__rating {
    display: flex;
    gap: 4px;
}

.card__price p {
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
    color: #2f302c;
}

.task__advantages {
    max-width: 1180px;
    padding-top: 82px;
}

.advantages__title {
    text-transform: uppercase;
    margin-bottom: 72px;
}

.advantages__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 68px;
}
.advantages__card {
    flex: 0 1 348px;
    border: 1px solid #ffffff;
    border-radius: 7px;
    transition: border-color 0.7s;
    padding: 10px 0;
}

.advantages__card:hover {
    border-color: #4d4e4c;
}

.advantages__card > * {
    margin-bottom: 24px;
}

.advantages__card > *:last-child {
    margin-bottom: 10px;
}

.advantages__card .card__title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 125%;
    color: #2f302c;
}

.card__text {
    font-weight: 500;
    line-height: 125%;
    color: #7e7f7c;
}
