@import url("reset.css");
@import url("fonts.css");

body {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(241, 213, 175);
}

.wrapper {
    position: relative;
    min-height: 100%;
    overflow: clip;
}

.footer,
.header {
    background-color: hsl(98, 61%, 76%);
}

.task,
.footer,
.header {
    padding: 10px;
}

.header__container {
    text-align: center;
}

[class*="__link"] {
    color: rgb(27, 141, 218);
    padding: 20px 20px;
    margin-left: 10px;
}

h2 {
    font-family: "Lato";
    font-size: 38px;
    font-weight: 700;
    color: #d43f5d;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(255, 0, 170, 0.507);
    line-height: 1.8;
    letter-spacing: 7px;
}

[class*="__wrapper"],
.header__container {
    max-width: 1880px;
    font-size: 0;
    margin: 0 auto;
}

h2,
[class*="__wrapper"] {
    margin-bottom: 30px;
}

.footer__container p {
    margin-left: 30px;
}

.task__wrapper {
    background-image: url(../img/way.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 1500px;
    width: 1880px;
    overflow: hidden;
    position: relative;
}

.task__sky {
    height: 450px;
    width: 100%;
    position: relative;
}

.task__sun {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 80px;
    left: 290px;
    background-image: url(../img/sun.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: sun-rotate;
    animation-duration: 2.5s;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes sun-rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.task__cloud {
    position: absolute;
    width: 300px;
    height: 200px;
    top: 270px;
    left: 750px;
    background-image: url(../img/cloud.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: cloud-moove;
    animation-duration: 12s;
    animation-timing-function: cubic-bezier(0.48, 0.12, 0.62, 0.02);
    animation-iteration-count: infinite;
}

@keyframes cloud-moove {
    0% {
        left: -300px;
        scale: 1;
    }
    50% {
        opacity: 1;
        scale: 1.5;
    }
    65% {
        opacity: 0.3;
    }
    75% {
        opacity: 0;
    }
    100% {
        transform: translate(1880px);
        scale: 5;
    }
}

.task__cab {
    position: relative;
    top: 150px;
    animation-name: cab-moove;
    animation-duration: 8s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes cab-moove {
    0% {
        left: -1250px;
        scale: 1.3;
    }
    30% {
        top: 250px;
    }
    50% {
        top: 130px;
    }
    100% {
        transform: translateX(6000px);
        scale: 0.4;
    }
}

.task__cart {
    position: relative;
    width: 500px;
    height: 600px;
    margin: 0 auto;
    left: -300px;
    bottom: 0;
}

.cart__roof {
    position: absolute;
    width: 330px;
    height: 150px;
    top: 0;
    left: 92px;
}

.cart__crown {
    position: absolute;
    top: 20px;
    left: 110px;
    height: 80px;
    width: 110px;
    background-color: #df9904;
    background-image: url(../img/crown.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #945689;
    border-radius: 50%;
    animation-name: crown-moove;
    animation-duration: 0.9s;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes crown-moove {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-180deg);
    }
}

.cart__crown-stay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 330px;
    height: 60px;
    background: linear-gradient(180deg, #e6c14a, #dfb323);
    border-radius: 50px 50px 0 0;
    border: 1px solid #945689;
}

.cart__midle-body {
    left: 140px;
    width: 238px;
    height: 250px;
    background: #df9904;
}

.cart__midle-body,
[class*="__side-body"] {
    position: absolute;
    top: 150px;
}

[class*="__side-body"] {
    width: 0;
    height: 0;
    border-left: 47px solid #df9904;
    border-bottom: 250px solid transparent;
}

.cart__side-body {
    right: 78px;
}

.cart__side-body--rotate {
    left: 93px;
    transform: rotateY(180deg);
}

[class*="__side-floor"] {
    position: absolute;
    top: 370px;
    width: 0;
    height: 0;
    border-left: 415px solid #df9904;
    border-bottom: 120px solid transparent;
    border-right: 70px solid transparent;
    box-shadow: inset 2px 19px 6px -1px rgba(2, 49, 99, 0.1);
}

.cart__side-floor {
    right: -40px;
}

.cart__side-floor::after {
    content: "";
    width: 60px;
    height: 8px;
    background: #df9904;
    position: absolute;
    bottom: -10px;
    left: -10px;
    transform-origin: 0 0;
    transform: rotate(-45deg);
}

.cart__side-floor--rotate {
    left: -20px;
    transform: rotateY(180deg);
}

.cart__side-floor--rotate::after {
    opacity: 0;
}

[class*="__door"] {
    position: absolute;
    top: 170px;
    width: 100px;
    height: 230px;
    background: linear-gradient(180deg, #e6c14a, #dfb323);
    border: 1px solid #945689;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
}

[class*="__door"]::before {
    content: "";
    position: absolute;
    top: 135px;
    left: 70px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #945689;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
}

.cart__door {
    left: 150px;
}

.cart__door--rotate {
    left: 265px;
    transform: rotateY(180deg);
}

.cart__door--rotate::before {
    content: "";
    left: 65px;
}

.cart__window {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 90px;
    height: 110px;
    border: 3px solid #945689;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 5%, rgba(0, 212, 255, 1) 55%);
}

.cart__weel {
    position: absolute;
    bottom: 75px;
    left: 30px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #eeaeca;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border: 8px solid #441e11;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
    z-index: 1;
    animation-name: weels-moove;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes weels-moove {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.cart__spoke {
    position: absolute;
    left: 62px;
    top: 66px;
    width: 3px;
    height: 57px;
    background: #bba48e;
    transform-origin: 50% 0%;
    translate: -50% -4px;
    opacity: 0.95;
    border-radius: 2px;
}

.cart__spoke--rotate1 {
    rotate: 60deg;
}

.cart__spoke--rotate2 {
    rotate: 120deg;
}

.cart__spoke--rotate3 {
    rotate: 180deg;
}

.cart__spoke--rotate4 {
    rotate: 240deg;
}

.cart__spoke--rotate5 {
    rotate: 300deg;
}

[class*="__weel"]::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #441e11;
}

.cart__weel--translate {
    left: 345px;
}

.cart__shadow {
    position: absolute;
    bottom: 75px;
    left: 55px;
    width: 350px;
    box-shadow: 50px 0 70px 30px rgb(32, 38, 44);
}

.task__horse {
    position: absolute;
    bottom: 100px;
    right: 505px;
    width: 500px;
    height: 400px;
}

.horse__items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.horse__items::before,
.horse__items::after {
    content: "";
    height: 8px;
    background: #df9904;
    position: absolute;
    transform-origin: 0 0;
}

.horse__items::before {
    content: "";
    width: 100px;
    top: 110px;
    left: 360px;
    transform: rotate(45deg);
    z-index: 1;
}

.horse__items::after {
    content: "";
    width: 400px;
    bottom: 150px;
    left: 5px;
    transform: rotate(-15deg);
}

.horse__item {
    position: absolute;
    top: 0;
    left: 0;
    animation: horse-moove 0.8s infinite linear;
}

@keyframes horse-moove {
    0% {
        opacity: 0;
    }
    0.1% {
        opacity: 1;
    }
    24.9% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.horse__item:nth-child(1) {
    animation-delay: 0s;
}

.horse__item:nth-child(2) {
    animation-delay: 0.2s;
}

.horse__item:nth-child(3) {
    animation-delay: 0.4s;
}

.horse__item:nth-child(4) {
    animation-delay: 0.6s;
}

.horse__shadow {
    position: absolute;
    bottom: 25px;
    left: 55px;
    width: 350px;
    box-shadow: 50px 0 70px 30px rgb(32, 38, 44);
}
