@import url("reset.css");
@import url("fonts.css");

body {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: #7e7f7c;
}

[data-menu-open] body {
    overflow: hidden;
}

.wrapper {
    position: relative;
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1422px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.header__container {
    min-height: 164px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.header__image-logo {
    width: 200px;
    max-width: none;
}

.header__search {
    flex-basis: 264px;
}

.search-header {
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid #d4d4d4;
}

.search-header__button {
    width: 15px;
    flex-shrink: 0;
    background: url(../img/header/search.svg) left no-repeat;
}

.search-header__input {
    height: 43px;
    padding: 0 15px;
}

.header__menu {
    flex-grow: 1;
}

.header__menu-icon {
    display: none;
}

.menu__list {
    display: flex;
    gap: 8px 44px;
    align-items: center;
    flex-wrap: wrap;
}

.menu__link::after {
    content: "";
    display: block;
    height: 1px;
    background-color: rgb(47, 48, 44);
    width: 0%;
    transition: width 0.7s;
    margin-top: 1px;
}

.menu__link:hover:after {
    width: 100%;
}

.action-header__link,
.menu__link {
    font-weight: 700;
    line-height: 1.25;
    color: #2f302c;
}

.action-header {
    display: flex;
    gap: 44px;
}

.action-header__link {
    padding-left: 22px;
    display: block;
}

.action-header__link--love {
    background: url(../img/header/heart.svg) 0 0 no-repeat;
}

.action-header__link--cart {
    background: url(../img/header/bag.svg) 0 0 no-repeat;
}

main > * {
    margin-bottom: 164px;
}

.hero {
    position: relative;
    width: 100%;
}

.hero__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: flex-end;
}

.hero__info {
    flex: 0 1 640px;
    font-family: Lato, sans-serif;
    color: #2f302c;
    padding: 15px 0;
}

.hero__info h3 {
    padding: 0;
    margin: 0 0 20px 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    max-width: 518px;
    width: 100%;
}

.hero__info h1 {
    margin-bottom: 36px;
    font-family: Montserrat, sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 1.04;
    max-width: 518px;
    width: 100%;
}

.hero__info span {
    font-weight: 800;
    max-width: 518px;
    width: 100%;
}

.hero__info h1::after {
    content: "";
    height: 1px;
    display: block;
    background-color: #2f302c;
    width: 60%;
    margin-top: 16px;
    margin-left: 10px;
}

.hero__info p {
    max-width: 374px;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 500;
    line-height: 1.25;
    color: #7e7f7c;
    width: 100%;
}

h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    color: #2f302c;
    margin-bottom: 72px;
    text-transform: uppercase;
}

h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #2f302c;
    text-transform: uppercase;
}

.promo__card h3 {
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 24px;
}

.advantages__card h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #2f302c;
    text-transform: uppercase;
}

.promo__cards {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 1fr;
    gap: 36px;
}

.promo__card {
    display: flex;
    min-height: 584px;
    background: #f7f7f7;
    transition: box-shadow 0.7s;
    padding-top: 48px;
    font-weight: 500;
    line-height: 125%;
}

.promo__card--top {
    padding-top: 0;
}

.promo__card:hover {
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 5px 7px rgba(0, 0, 0, 0.24);
}

.promo__card--big {
    background: #e6efea;
    text-align: center;
}

.promo__card:not(:first-child) .card__body {
    margin-bottom: 86px;
}

.promo__card .card__body--left {
    align-items: flex-start;
    text-align: left;
}

.promo__card .card__body {
    flex-grow: 0;
    padding-left: 35px;
    padding-right: 48px;
}

.promo__card--big .card__body {
    padding-inline: 170px;
}

.promo__card .card__img {
    position: relative;
    object-fit: cover;
}

.card__link--up .card__img {
    order: 1;
    left: 25%;
    max-width: 210px;
    width: 70%;
    margin-bottom: 136px;
}

.card__link--up .card__body {
    order: 2;
}

.card__link--up {
    padding-top: 0;
}

.card__link--down .card__img {
    left: 20%;
    max-width: 262px;
    width: 90%;
}

.card__info {
    margin-bottom: 38px;
}

.promo__card--big .card__info {
    margin-bottom: 18px;
}

.card__text {
    display: flex;
    align-items: flex-end;
    row-gap: 4px;
}

.advantages__container,
.products__container,
.partners__container {
    flex-direction: column;
    align-items: center;
}

.partners__images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-auto-rows: 1fr;
    gap: 74px;
    width: 100%;
}
.partners__img {
    text-align: center;
}

.products__container h2 {
    margin-bottom: 36px;
}

.products__menu {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 72px;
}

.menu-products__item {
    position: relative;
}

.menu-products__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #2f302c;
    text-transform: uppercase;
    margin: 0;
    padding: 0 10px;
}

.menu-products__link::after {
    content: "";
    display: block;
    height: 1.7px;
    background-color: #2f302c;
    width: 0%;
    transition: width 0.9s;
    margin-top: 8px;
}

.menu-products__link:hover::after {
    width: 100%;
}

.products__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    grid-auto-rows: 1fr;
    gap: 72px 36px;
    width: 100%;
    justify-items: center;
}

.products__card {
    display: flex;
    flex-wrap: wrap;
    transition: box-shadow 0.7s;
}

.products__card:hover {
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 5px 7px rgba(0, 0, 0, 0.24);
}

.card a {
    display: flex;
    flex-direction: column;
}

.card__img:not(.promo__card .card__img) {
    margin-bottom: 32px;
}

.advantages__card,
.card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    flex-grow: 1;
}

.card__body:not(.promo__card .card__body) {
    gap: 12px;
}

.card__title {
    text-transform: uppercase;
    flex-grow: 1;
    transition:
        scale 0.6s,
        color 0.6s;
}

.card__body .card__title:hover {
    scale: 1.03;
    color: #0a4e5f;
}

.card__rating {
    display: flex;
    gap: 4px;
}

.card__price p {
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
    color: #2f302c;
}

.advantages__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
    grid-auto-rows: 1fr;
    gap: 68px;
}

.advantages__card {
    display: flex;
    flex: 0 1 348px;
    border: 1px solid #ffffff;
    border-radius: 7px;
    transition: border-color 0.7s;
    padding: 10px 0;
    gap: 24px;
}

.advantages__card:hover {
    border-color: #4d4e4c;
}

.advantages__card > * {
    margin-bottom: 24px;
}

.advantages__card > *:last-child {
    margin-bottom: 10px;
}

.advantages__card .card__title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 125%;
    color: #2f302c;
}

.card__text {
    font-weight: 500;
    line-height: 125%;
    color: #7e7f7c;
}

[class*="--little"] {
    max-width: 1220px;
}

.footer__container {
    padding: 25px 15px;
}

@media (width > 768px) {
    .action-header__link::after {
        content: "";
        display: block;
        height: 1px;
        background-color: rgb(47, 48, 44);
        width: 0%;
        transition: width 0.7s;
        margin-top: 1px;
    }
    .action-header__link:hover:after {
        width: 100%;
    }
}

@media (width <= 1422px) {
    .header__container {
        min-height: 120px;
        gap: 40px;
    }
    .action-header,
    .menu__list {
        gap: 8px 20px;
    }
    .menu__list {
        justify-content: center;
    }
    main > * {
        margin-bottom: 150px;
    }
    .hero__info h1 {
        font-size: 72px;
    }
    .hero__info h1::after {
        width: 44%;
    }
    .promo__card--big .card__body {
        padding-inline: 150px;
    }
    .partners__images {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 50px;
    }
}

@media (width<=1240px) {
    .partners__images {
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
        gap: 45px;
    }
    .products__cards {
        column-gap: 20px;
    }
}

@media (width <= 1200px) {
    .header__search {
        flex-basis: 190px;
    }
    main > * {
        margin-bottom: 120px;
    }
    .hero__container {
        max-width: 1000px;
    }
    .hero__info {
        flex-basis: 450px;
    }
    .hero__info h1 {
        font-size: 60px;
    }
    .hero__info h1::after {
        width: 42%;
    }
    .hero__info h1 {
        margin-bottom: 25px;
    }
    .hero__info h3 {
        margin-bottom: 15px;
    }
    .promo__cards {
        gap: 28px;
    }
    .promo__card--big .card__body {
        padding-inline: 100px;
    }
    .advantages__cards {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 48px;
    }
}

@media (width <= 1006px) {
    .header__container {
        min-height: 100px;
        gap: 30px;
    }
    .action-header,
    .menu__list {
        gap: 8px 10px;
    }
    .header__logo {
        width: 37px;
        flex-shrink: 0;
        overflow: hidden;
    }
    main > * {
        margin-bottom: 100px;
    }
    .hero__container {
        max-width: 700px;
    }
    .hero__info {
        flex-basis: 350px;
    }
    .hero__info h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }
    .hero__info h3 {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .hero__info h1::after {
        margin-top: 10px;
    }
    .hero__info p {
        font-size: 14px;
    }
    h2 {
        margin-bottom: 50px;
    }
    .promo__cards {
        gap: 20px;
    }
    .products__cards {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}

@media (width < 773px) {
    .header__container {
        min-height: 70px;
    }
    .header__menu-icon,
    .header__logo,
    .header__search,
    .header__action {
        position: relative;
        z-index: 3;
    }
    .menu__link::after {
        content: "";
        height: 2px;
    }
    .header__menu-icon {
        display: block;
        width: 30px;
        height: 18px;
        flex-shrink: 0;
    }
    .header__menu-icon span,
    .header__menu-icon::before,
    .header__menu-icon::after {
        content: "";
        height: 2px;
        width: 30px;
        background-color: #2f302c;
        position: absolute;
        right: 0;
        transition: all 0.3s;
    }
    .header__menu-icon::before {
        top: 0;
    }
    .header__menu-icon::after {
        bottom: 0;
    }
    .header__menu-icon span {
        top: 50%;
        translate: 0 -50%;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        background-color: #f6f6f6;
        z-index: 1;
        overflow: auto;
        transition: left 0.5s;
        padding: 120px 15px 30px;
    }
    .menu::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 70px;
        top: 0;
        left: 100%;
        transition: left 0.5s;
        background-color: #fff;
        z-index: 2;
    }
    .menu__list {
        flex-direction: column;
        row-gap: 30px;
    }
    .menu__link {
        font-size: 28px;
    }
    .header__search {
        flex-grow: 1;
    }
    .action-header__link {
        width: 25px;
        aspect-ratio: 1;
        padding-left: 0;
        font-size: 0;
        background-size: contain;
    }
    .action-header__link--love {
        background: url(../img/header/heart.svg) 3px 2px no-repeat;
    }
    .action-header__link--cart {
        background: url(../img/header/bag.svg) 4px 2px no-repeat;
    }
    [data-menu-open] .header__menu-icon span {
        width: 0;
    }
    [data-menu-open] .header__menu-icon::before {
        rotate: -45deg;
        top: 50%;
        translate: 0 -50%;
    }
    [data-menu-open] .header__menu-icon::after {
        rotate: 45deg;
        bottom: 50%;
        translate: 0 50%;
    }
    [data-menu-open] .menu,
    [data-menu-open] .menu::before {
        left: 0;
    }
    main > * {
        margin-bottom: 80px;
    }
    .hero__banner {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 3% center;
    }
    .hero__info p {
        color: #2f302c;
    }
    h2 {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .promo__cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .promo__card--big {
        order: 3;
        grid-column: span 2;
    }
    .partners__images {
        gap: 25px;
    }
    .products__menu {
        gap: 30px;
    }
    .advantages__cards {
        gap: 30px;
    }
    .advantages__card {
        gap: 16px;
    }
}

@media (width < 480px) {
    .header__container {
        gap: 15px;
    }
    .header__logo {
        width: 28px;
    }
    .header__image-logo {
        width: 154px;
    }
    .search-header {
        border-radius: 5px;
        border: 1px solid #d4d4d4;
    }
    .search-header__button {
        display: none;
    }
    .search-header__input {
        height: 30px;
        padding: 0 5px;
    }
    main > * {
        margin-bottom: 70px;
    }
    .hero__banner {
        filter: blur(1.5px);
    }
    .hero__info h1 {
        font-size: 36px;
        margin-bottom: 16px;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .promo__cards {
        grid-template-columns: 1fr;
    }
    .promo__card {
        min-height: 530px;
    }
    .promo__card--big {
        grid-column: span 1;
    }
    .promo__card:not(:first-child) .card__body {
        margin-bottom: 50px;
    }
    .promo__card--big .card__body {
        padding-inline: 60px;
    }
    .partners__images {
        gap: 20px;
    }
    .products__menu {
        gap: 8px;
        margin-bottom: 45px;
    }
    .menu-products__link {
        font-size: 14px;
        padding: 0 8px;
    }
    .products__cards {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .advantages__cards {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 18px;
    }
}

@media (width < 350px) {
    .search-header {
        padding: 0 5px;
    }
    .search-header__input::placeholder {
        opacity: 0;
    }
    .search-header__button {
        display: block;
    }
    .hero__banner {
        object-position: 10% center;
    }
    .partners__images {
        gap: 10px;
    }
}
