@import url("reset.css");
@import url("fonts.css");

body {
    font-family: "Montserrat", sans-serif;
    color: #343434;
    background-color: #ffffff;
    background-image:
        url(../img/design/design-right/png/design-right1x.png), url(../img/design/design-left/png/design-left1x.png),
        url(../img/design/design-right/png/design-right1x.png), url(../img/design/design-left/png/design-left1x.png);
    background-repeat: no-repeat;
    background-position:
        right 0,
        0 440px,
        right 1380px,
        0 2485px;
}

[data-menu-open] body {
    overflow: hidden;
}

.wrapper {
    position: relative;
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
}

/* додаємо цей клас до будь-якого елемента, який треба сховати, але залишити для скинридерів */
[class*="--visually-hidden"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__container {
    min-height: 82px;
    padding-top: 32px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    gap: 120px;
    background-color: #ffffff;
}

.header__logo {
    width: 124px;
    max-width: none;
    margin-right: 40px;
}

.header__menu {
    flex-grow: 1;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    flex-wrap: wrap;
}

h3,
.menu__link {
    line-height: 1.25;
    text-transform: capitalize;
    transition: color 0.7s;
}

.menu__link:hover {
    color: #ba936f;
}

.menu__link::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #ba936f;
    width: 0%;
    transition: width 0.7s;
    margin-top: 1px;
}

.menu__link:hover:after {
    width: 100%;
}

.trial__button,
.header__button {
    background-color: rgba(186, 147, 111, 1);
    color: #fff;
    padding: 11px 47px;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.235;
    text-transform: capitalize;
    transition:
        background-color 0.7s,
        box-shadow 0.7s;
}

.trial__button:hover,
.header__button:hover {
    background-color: #e2b183;
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 5px 7px rgba(0, 0, 0, 0.24);
}

.header__icon-menu {
    display: none;
}

main > *:first-child {
    margin-top: 70px;
}

main > *:not(:last-child) {
    margin-bottom: 138px;
}

main > *:last-child {
    margin-bottom: 100px;
}

.hero__container {
    column-gap: 27px;
}

.hero__info {
    position: relative;
    padding-top: 70px;
}

h3,
h2,
h1 {
    font-family: "Lora", sans-serif;
    color: #ba936f;
}

.table__row,
h2,
h1 {
    text-transform: uppercase;
}

h1 {
    font-size: 50px;
    line-height: 1.32;
    margin-bottom: 70px;
}

.trial__info p,
.hero__info p {
    font-size: 19px;
    line-height: 1.42;
}

.hero__info p {
    max-width: 638px;
    margin-bottom: 96px;
}

.hero__info div {
    position: relative;
}

.hero__link {
    padding-left: 63px;
    transition: color 0.7s;
}

.table__link:hover,
.hero__link:hover:after,
.hero__link:hover {
    color: #ba936f;
}

.hero__link::before {
    content: "";
    background-image: url(../img/hero-section/circle.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: -35px;
    transition: scale 0.7s;
}

.hero__link:hover:before {
    scale: 1.1;
}

.hero__link::after {
    content: "";
    background-image: url(../img/hero-section/right-arrow.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 163px;
    top: 2px;
    transition:
        background-image 0.7s,
        scale 0.5s;
}

.hero__link:hover:after {
    scale: 1.9;
    background-image: url(../img/hero-section/arrow-right.svg);
}

[class*="__img"]:not(.schedule__img) {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

[class*="__img"] img {
    border-radius: 33px;
}

.hero__img {
    min-width: 486px;
}

.trial__container {
    column-gap: 40px;
}

.trial__img {
    min-width: 600px;
}

.trial__info {
    padding-top: 60px;
}

h2 {
    font-size: 35px;
    line-height: 1.29;
    margin-bottom: 55px;
}

.trial__text {
    margin-bottom: 46px;
}

.table__row,
.schedule__info p,
.lessons__text p,
.trial__link,
.trial__clause p,
.hero__link {
    font-size: 17px;
    line-height: 1.59;
}

.trial__link {
    font-weight: 600;
    color: #ba936f;
    margin-bottom: 45px;
    transition: color 0.7s;
}

.footer a:hover,
h3:hover,
.trial__link:hover {
    color: #e2b183;
}

.lessons__container {
    flex-direction: column;
    row-gap: 64px;
}

.schedule__info p,
.lessons__text {
    max-width: 840px;
}

.lessons__gallery {
    display: flex;
    gap: 43.5px;
}

.lessons__img {
    min-width: 368px;
}

.lessons__img a {
    transition: scale 0.7s;
}

.lessons__img a:hover {
    scale: 1.03;
}

h3 {
    font-size: 22px;
    line-height: 1.45;
    padding-top: 14px;
}

.schedule__container {
    flex-direction: column;
    row-gap: 40px;
}

.schedule__info h2 {
    max-width: 515px;
}

.schedule__box {
    display: flex;
    justify-content: space-between;
    gap: 34px;
    align-items: center;
}

.schedule__week {
    display: flex;
    overflow: auto;
}

.schedule__table {
    display: flex;
    min-width: 660px;
    align-items: flex-start;
    flex-grow: 1;
}

.table__row {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    min-width: 100%;
    padding: 18px 0;
    border-top: 1px solid #ba936f;
}

.table__row:last-child {
    border-bottom: 1px solid #ba936f;
}

.table__day {
    min-width: 138px;
}

.table__lesson {
    min-width: 260px;
    text-align: left;
}

.table__link {
    position: relative;
    transition: color 0.7s;
}

.table__link::after {
    content: "";
    background-image: url(../img/schedule-section/up-right-arrow.svg);
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    transition: background-image 0.5s;
}

.table__link:hover:after {
    background-image: url(../img/schedule-section/arrow-up-right.svg);
}

.schedule__img {
    min-width: 502px;
}

.footer {
    background-color: #ba936f;
    padding: 15px;
}

.footer a {
    padding: 10px 0;
    transition: color 0.5s;
}

@media (width <= 1200px) {
    .header__container {
        min-height: 70px;
        gap: 100px;
    }
    main > *:not(:last-child) {
        margin-bottom: 120px;
    }
    .hero__info {
        padding-top: 10px;
    }
    h1 {
        font-size: 48px;
        line-height: 1.32;
    }
    .trial__info {
        padding-top: 25px;
    }
    .lessons__gallery {
        gap: 30px;
    }
    .lessons__img {
        min-width: 300px;
    }
    .schedule__img {
        min-width: 450px;
    }
}

@media (width <= 1050px) {
    .header__container {
        min-height: 70px;
        gap: 70px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    main > *:first-child {
        margin-top: 50px;
    }
    main > *:not(:last-child) {
        margin-bottom: 85px;
    }
    h1 {
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 40px;
    }
    .trial__img {
        min-width: 550px;
    }
    .trial__info {
        padding-top: 0;
    }
    h2 {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    .trial__text {
        margin-bottom: 25px;
    }
    .trial__link {
        margin-bottom: 20px;
    }
    .lessons__gallery {
        gap: 20px;
    }
}

@media (width <= 955px) {
    .header__container {
        gap: 15px;
    }
    .header__logo {
        width: 100px;
        margin-right: 20px;
    }
    h1 {
        font-size: 36px;
        margin-bottom: 30px;
    }
    .hero__info p {
        margin-bottom: 70px;
    }
    .trial__info p,
    .hero__info p {
        font-size: 17px;
        line-height: 1.42;
    }
    .trial__img,
    .hero__img {
        min-width: 400px;
    }
    h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .lessons__container {
        row-gap: 44px;
    }
    .lessons__gallery {
        gap: 33px;
    }
    .lessons__img {
        min-width: 200px;
    }
    .schedule__img {
        min-width: 350px;
    }
    .table__row {
        padding: 13px 0;
    }
}

@media (width < 795px) {
    .header__container {
        min-height: 50px;
        padding: 15px;
        gap: 30px;
        justify-content: space-between;
    }
    .header__icon-menu,
    .header__button,
    .header__logo {
        position: relative;
        z-index: 3;
    }
    .menu__link::after {
        content: "";
        height: 2px;
    }
    .header__icon-menu {
        display: block;
        width: 30px;
        height: 18px;
        flex-shrink: 0;
    }
    .header__icon-menu span,
    .header__icon-menu::before,
    .header__icon-menu::after {
        content: "";
        height: 2px;
        width: 30px;
        background-color: #ba936f;
        position: absolute;
        right: 0;
        transition: all 0.3s;
    }
    .header__icon-menu::before {
        top: 0;
    }
    .header__icon-menu::after {
        bottom: 0;
    }
    .header__icon-menu span {
        top: 50%;
        translate: 0 -50%;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        background-color: #f5e8e0;
        z-index: 1;
        overflow: auto;
        transition: left 0.5s;
        padding: 120px 15px 30px;
    }
    .menu::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 70px;
        top: 0;
        left: 100%;
        transition: left 0.5s;
        background-color: #f5e8e0;
        z-index: 2;
    }
    .menu__list {
        flex-direction: column;
        row-gap: 30px;
    }
    .menu__link {
        font-size: 28px;
    }
    [data-menu-open] .header__icon-menu span {
        width: 0;
    }
    [data-menu-open] .header__icon-menu::before {
        rotate: -45deg;
        top: 50%;
        translate: 0 -50%;
    }
    [data-menu-open] .header__icon-menu::after {
        rotate: 45deg;
        bottom: 50%;
        translate: 0 50%;
    }
    [data-menu-open] .menu,
    [data-menu-open] .menu::before {
        left: 0;
    }
    .header__button {
        margin-left: auto;
    }
    .trial__button,
    .header__button {
        padding: 8px 25px;
        font-size: 16px;
    }
    h1 {
        font-size: 30px;
        margin-bottom: 25px;
    }
    .hero__info {
        padding-top: 0;
    }
    .hero__link::before {
        width: 80px;
        background-size: contain;
        top: -25px;
    }
    .trial__info p,
    .hero__info p {
        font-size: 16px;
    }
    .schedule__img,
    .trial__img,
    .hero__img {
        min-width: 200px;
    }
    .trial__img {
        padding: 35px 0;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .lessons__img img {
        width: 100%;
    }
    h3 {
        font-size: 20px;
    }
    .schedule__box {
        flex-wrap: wrap;
        justify-content: center;
    }
    .schedule__img {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
    }
}

@media (width < 716px) {
    .lessons__gallery,
    .trial__container,
    .hero__container {
        flex-wrap: wrap;
        justify-content: center;
    }
    main > *:not(:last-child) {
        margin-bottom: 65px;
    }
    .hero__info {
        margin-bottom: 60px;
    }
    .trial__info {
        order: 1;
    }
    .trial__img {
        order: 2;
    }
}

@media (width < 350px) {
    .header__container {
        gap: 10px;
    }
    .header__logo {
        min-width: 90px;
        margin-right: 10px;
    }
    .header__button {
        padding: 8px 12px;
    }
    .menu__list {
        row-gap: 20px;
    }
    .menu__link {
        font-size: 22px;
    }
}
