@import url(reset.css);

*{
    color: rgb(23, 190, 23);
}

a{
    color: rgb(130, 60, 196);
}

.title{
    color: rgb(206, 25, 25);
}

#up{
    color: red;
}

[class*="in"]{
    color: black;
}

p.content{
    color: blue;
}

p#up{
    color: rgb(143, 139, 167);
}

p#text.content{
    color: rgb(187, 187, 14);
}

span, .exercise{
    color: orangered;
}

.content span{
    color: rgb(19, 107, 19);
}

.article .sentence{
    color: rgb(243, 7, 204);
}

.terrier *{
    color: chartreuse;
}

.dog>p{
    color: rgb(163, 23, 51);
}

.dog~p{
    color: gold;
}

.article+div{
    color: rgba(50, 124, 221, 0.801);
}