@import url("reset.css");
@import url("fonts.css");

body {
    font-family: "Playfair Display", sans-serif;
    background-color: #ffffff;
    color: #000;
}

[data-menu-open] body {
    overflow: hidden;
}

.wrapper {
    position: relative;
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 65rem;
    padding: 0 0.9375rem;
    margin: 0 auto;
    display: flex;
}

/* додаємо цей клас до будь-якого елемента, який треба сховати, але залишити для скинридерів */
/* [class*="--visually-hidden"] {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
} */

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    color: #fff;
    transition:
        background-color 0.5s ease,
        box-shadow 0.5s ease;
}

.header.header--scrolled {
    background-color: rgba(90, 89, 89, 0.596);
    backdrop-filter: blur(0.25rem);
    box-shadow: inset 0 0.375rem 1.125rem rgba(0, 0, 0, 0.514);
}

.header__container {
    min-height: 6.25rem;
    padding-top: 1.5rem;
    padding-bottom: 1.75rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.header__logo {
    width: 10.5rem;
    margin-right: 26.25rem;
}

.header__logo p {
    font-size: 2.25rem;
    line-height: 1.3275;
    text-transform: uppercase;
}

.header__icon-menu {
    display: none;
}

.header__menu {
    flex-grow: 1;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    gap: 0.625rem;
    flex-wrap: wrap;
}

.menu__link {
    line-height: 1.3125;
    text-transform: capitalize;
    padding: 0.3125rem;
}

.header .menu__link {
    border-bottom: 0.0625rem solid #ffffff00;
    transition: border-bottom 0.7s;
}

.header .menu__link:hover {
    border-bottom: 0.0625rem solid #ffffff;
}

.hero {
    position: relative;
    color: #fff;
}

.hero__container {
    height: calc(100vh - 6.25rem);
    width: 100vw;
    margin-bottom: 5.25rem;
}

.hero__img {
    position: absolute;
    top: -6.25rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.hero__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-top: 10vh;
    margin-right: 1.5625rem;
}

h1 {
    font-size: 2.9375rem;
    line-height: 1.34;
    margin-bottom: 1.5rem;
}

h3:not(.about h3),
h2,
h1 {
    text-transform: capitalize;
}

.hero__info p {
    font-size: 0.875rem;
    line-height: 1.357;
    margin-bottom: 4.875rem;
}

.products__button,
.about__button,
.hero__button {
    width: fit-content;
    padding: 0.6923em 1em;
    transition:
        border-color 0.7s,
        scale 0.7s;
}

.hero__button {
    font-size: 0.8125rem;
    line-height: 1.3;
    color: #fff;
    border: 0.0625rem solid #f8f8f8;
}

.products__button:hover,
.about__button:hover,
.hero__button:hover {
    border-color: transparent;
    scale: 1.05;
}

.hero__button:hover {
    border-bottom-color: #f8f8f8;
}

.about h3,
h2 {
    font-size: 1.875rem;
    line-height: 1.333;
}

.about h2 {
    margin-bottom: 7.1875rem;
}

.products__container,
.about__container {
    position: relative;
    flex-direction: column;
    align-items: center;
}

.about__container {
    padding-bottom: 6.25rem;
    margin-bottom: 0.8125rem;
}

.about__container::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 1.75rem;
    width: 95%;
    height: 0.0625rem;
    background: #837f7f;
}

.about__box {
    display: flex;
    flex-direction: row;
    gap: 0.9375rem;
    margin-bottom: 8.4375rem;
}

.about__info {
    max-width: 28.75rem;
    margin-right: 12rem;
    padding-top: 1.5rem;
}

.about h3,
.about__text p:not(:last-child) {
    margin-bottom: 2.1875rem;
}

.about__text p {
    line-height: 1.3125;
}

.about__img {
    max-width: 19.8125rem;
}

.products__button,
.about__button {
    font-size: 0.875rem;
    line-height: 1.357;
    min-width: 8.125rem;
    border: 0.0625rem solid #000000;
}

.products__button:hover,
.about__button:hover {
    border-bottom-color: #000000;
}

.products__container {
    max-width: 50.3125rem;
    padding-top: 3.125rem;
    margin-bottom: 10rem;
}

.products__title {
    font-size: 2.25rem;
    margin-bottom: 0.86em;
}

.products__menu {
    text-align: center;
    margin-bottom: 6.25rem;
}

.menu__item {
    margin-bottom: 0.125rem;
}

.footer a::after,
.products .menu__link::after {
    content: "";
    position: relative;
    display: block;
    height: 0.0625rem;
    opacity: 0;
    transition: opacity 0.7s;
    margin-top: 0.625rem;
}

.products .menu__link::after {
    left: -23%;
    width: 149.25%;
    background-color: #020202;
}

.footer a:hover:after,
.products .menu__link:hover:after {
    opacity: 1;
}

.products__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13.4375rem, 1fr));
    grid-auto-rows: 1fr;
    gap: 4.75rem 3.75rem;
    width: 100%;
    margin-bottom: 7.375rem;
}

.products__card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0.3125rem;
    transition: box-shadow 0.7s;
}

.products__card > a {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.products__card:hover {
    box-shadow:
        0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12),
        0 0.3125rem 0.4375rem rgba(0, 0, 0, 0.24);
}

.products__img img {
    display: block;
    aspect-ratio: 200 / 209;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.products__card h3 {
    font-size: 1.25rem;
    line-height: 1.35;
    text-align: left;
}

.footer {
    background-color: #2f2f2f;
    padding: 0.9375rem;
    color: #fff;
}

.footer p {
    padding: 0.625rem 0;
    margin-bottom: 0.625rem;
}

.footer a {
    padding: 0.625rem 0;
}

.footer a::after {
    background-color: #fff;
    width: 130%;
    left: -15%;
}

@media (width < 65.875rem) {
    .header__container {
        min-height: 5rem;
        padding-inline: 1.25rem;
    }
    .header__logo {
        margin-right: 20rem;
    }
    .about__info {
        margin-right: 7.5rem;
    }
}

@media (width < 60.25rem) {
    .header__container {
        padding: 0.9375rem;
    }
    .header__logo {
        margin-right: 12.5rem;
    }
    .header__logo p {
        font-size: 1.875rem;
    }
    .hero__container {
        height: calc(100vh - 5rem);
        margin-bottom: 5rem;
    }
    .hero__img {
        top: -5rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    .about h2 {
        margin-bottom: 5rem;
    }
    .about__box {
        padding-inline: 0.9375rem;
        margin-bottom: 5rem;
    }
    .about__info {
        margin-right: 3.125rem;
    }
    .about__container::after {
        left: 1.125rem;
    }
    .products__menu {
        margin-bottom: 5rem;
    }
    .products__container {
        margin-bottom: 6.25rem;
    }
}

@media (width < 52.125rem) {
    .header__logo {
        margin-right: 5rem;
    }
    .about__box,
    .about h2,
    .hero__container {
        margin-bottom: 3.4375rem;
    }
    .hero__info {
        margin-top: 6vh;
        margin-right: 1.25rem;
    }
    h1 {
        font-size: 1.875rem;
    }
    .hero__info p {
        margin-bottom: 3.75rem;
    }
    .about__container {
        padding-bottom: 4.375rem;
        margin: 0;
    }
    .about__box {
        gap: 1.5625rem;
    }
    .about__info {
        padding: 0;
        margin-right: 0;
    }
    .products__container {
        margin-bottom: 5rem;
    }
    .products__title {
        font-size: 1.875rem;
    }
    .products__menu {
        margin-bottom: 2.5rem;
    }
    .menu__link {
        line-height: 1.2;
    }
    .products__cards {
        gap: 2.5rem;
        margin-bottom: 3.75rem;
    }
    .products__img picture {
        margin-bottom: 0.3125rem;
    }
    .products__card h4 {
        font-size: 1.125rem;
        line-height: 1.2;
    }
    .footer {
        padding: 0.625rem 0.9375rem;
    }
    .footer p {
        padding: 0.625rem 0;
        margin-bottom: 0;
    }
}

@media (width < 48.5rem) {
    .header__container {
        min-height: 3.125rem;
        padding: 0.9375rem 1.875rem;
        gap: 1.875rem;
        justify-content: space-between;
    }
    .header__icon-menu,
    .header__logo {
        position: relative;
        z-index: 3;
    }
    .header__logo {
        margin: 0;
    }
    .header__icon-menu {
        display: block;
        width: 1.875rem;
        height: 1.5625rem;
        flex-shrink: 0;
    }
    .header__icon-menu span,
    .header__icon-menu::before,
    .header__icon-menu::after {
        content: "";
        height: 0.125rem;
        width: 1.875rem;
        background-color: #ffffff;
        position: absolute;
        right: 0;
        transition: all 0.3s;
    }
    .header__icon-menu::before {
        top: 0;
    }
    .header__icon-menu::after {
        bottom: 0;
    }
    .header__icon-menu span {
        top: 50%;
        translate: 0 -50%;
    }
    .header__menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 100%;
        background-color: rgba(61, 61, 61, 0.973);
        box-shadow: inset 0 0.375rem 1.125rem rgba(0, 0, 0, 0.514);
        z-index: 1;
        overflow: auto;
        transition: left 0.5s;
        padding: 7.5rem 0.9375rem 1.875rem;
        text-align: center;
    }
    .header__menu::before {
        content: "";
        position: fixed;
        width: 100vw;
        height: 4.375rem;
        top: 0;
        left: 100%;
        transition: left 0.5s;
        background-color: rgba(90, 89, 89, 0.596);
        backdrop-filter: blur(0.4375rem);
        box-shadow: inset 0 0.375rem 1.125rem rgba(0, 0, 0, 0.514);
        z-index: 2;
    }
    .menu__list {
        flex-direction: column;
        row-gap: 1.875rem;
    }
    .header .menu__link {
        font-size: 1.75rem;
    }
    [data-menu-open] .header__icon-menu span {
        width: 0;
    }
    [data-menu-open] .header__icon-menu::before {
        rotate: -45deg;
        top: 50%;
        translate: 0 -50%;
    }
    [data-menu-open] .header__icon-menu::after {
        rotate: 45deg;
        bottom: 50%;
        translate: 0 50%;
    }
    [data-menu-open] .header__menu,
    [data-menu-open] .header__menu::before {
        left: 0;
    }
    .hero__container {
        height: calc(100vh - 3.125rem);
        margin-bottom: 3.125rem;
    }
    .hero__img {
        top: -4.375rem;
    }
    .hero__info {
        margin-top: 5.5vh;
        margin-right: 0.9375rem;
    }
    .about__container {
        padding-bottom: 3.125rem;
    }
    .about h2 {
        margin-bottom: 2.5rem;
    }
    .about h3 {
        font-size: 1.625rem;
        line-height: 1.3;
        margin-bottom: 1.5625rem;
    }
    .about__info {
        max-width: none;
    }
    .about__text p:not(:last-child) {
        margin-bottom: 1.125rem;
    }
    .about__text p {
        line-height: 1.25;
    }
    .about__img {
        min-width: 14.375rem;
    }
    .products__container {
        padding-top: 2.375rem;
    }
    .products__menu {
        margin-bottom: 1.25rem;
    }
    .menu__link {
        line-height: 1;
    }
}

@media (width < 41.75rem) {
    .header__logo p {
        font-size: 1.5rem;
    }
    .header__icon-menu {
        width: 1.5rem;
        height: 1.25rem;
    }
    .hero__img {
        top: -4.375rem;
    }
    .hero__container {
        margin-bottom: 2.5rem;
    }
    .hero__info {
        margin-top: 4vh;
        margin-left: 50%;
    }
    h1 {
        font-size: 1.875rem;
        text-align: center;
    }
    .hero__info p {
        line-height: 1.5;
        text-align: center;
        margin-bottom: 2.5rem;
    }
    .products__title,
    h2 {
        font-size: 1.75rem;
    }
    .about__box {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;
    }
    .about h3 {
        font-size: 1.5rem;
        margin-bottom: 1.125rem;
    }
    .about__text p {
        font-size: 0.9375rem;
    }
    .about__img {
        order: -1;
        max-width: none;
        width: 100%;
    }
    .about__img img {
        width: 100%;
    }
    .products__container {
        padding-top: 1.875rem;
    }
    .products__cards {
        gap: 1.875rem;
        margin-bottom: 2.5rem;
    }
    .footer {
        text-align: center;
    }
}

@media (width < 28.125rem) {
    .header__container {
        padding: 0.625rem 1.25rem;
    }
    .header__logo p {
        font-size: 1.375rem;
    }
    .header__menu {
        padding: 6.25rem 1.25rem 1.25rem;
    }
    .header__menu::before {
        height: 3.125rem;
    }
    .header .menu__list {
        row-gap: 1.25rem;
    }
    .header .menu__link {
        font-size: 1.375rem;
    }
    .hero__img {
        top: -3.125rem;
        filter: blur(0.375rem);
    }
    .hero__info {
        justify-content: space-evenly;
        gap: 0.9375rem;
        margin: 0 auto;
    }
    .hero__button {
        margin-bottom: 3.75rem;
    }
}

@media (width < 16.25rem) {
    .header__logo p {
        font-size: 1.125rem;
    }
    h2,
    .hero__container {
        margin-bottom: 1.875rem;
    }
    h1 {
        font-size: 1.25rem;
        margin-bottom: 0;
    }
    .hero__info p {
        margin-bottom: 0;
    }
    .about__container {
        padding-bottom: 2.5rem;
    }
    .products__title,
    h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    .about__box {
        padding-inline: 0;
    }
    .about h3 {
        font-size: 1.25rem;
        text-align: center;
    }
    .about__img {
        min-width: 100%;
    }
    .about__button,
    .hero__button {
        padding: 0.5em;
    }
    .products__title {
        text-align: center;
    }
    .products__cards {
        grid-template-columns: 1fr;
        gap: 1.25rem;
        margin-bottom: 1.875rem;
    }
    .products__img img {
        max-width: 100%;
        aspect-ratio: auto;
    }
    .products__card h3 {
        font-size: 1rem;
        line-height: 1.2;
    }
    .footer {
        padding-block: 0;
    }
    .footer a::after {
        margin-top: 0.3125rem;
    }
}
