@import url("reset.css");
@import url("fonts.css");

body {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: #7e7f7c;
}

[data-menu-open] body {
    overflow: hidden;
}

.wrapper {
    position: relative;
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1422px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.header__container {
    min-height: 164px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.header__image-logo {
    width: 200px;
    max-width: none;
}

.header__search {
    flex-basis: 264px;
}

.search-header {
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid #d4d4d4;
}

.search-header__button {
    width: 15px;
    flex-shrink: 0;
    background: url(../img/search.svg) left no-repeat;
}

.search-header__input {
    height: 43px;
    padding: 0 15px;
}

.header__menu {
    flex-grow: 1;
}

.header__menu-icon {
    display: none;
}

.menu__list {
    display: flex;
    gap: 8px 44px;
    align-items: center;
    flex-wrap: wrap;
}

.menu__link::after {
    content: "";
    display: block;
    height: 1px;
    background-color: rgb(47, 48, 44);
    width: 0%;
    transition: width 0.7s;
    margin-top: 1px;
}

.menu__link:hover:after {
    width: 100%;
}

.action-header__link,
.menu__link {
    font-weight: 700;
    line-height: 1.25;
    color: #2f302c;
}

.action-header {
    display: flex;
    gap: 44px;
}

.action-header__link {
    padding-left: 22px;
    display: block;
}

.action-header__link--love {
    background: url(../img/heart.svg) 3px 3px no-repeat;
}

.action-header__link--cart {
    background: url(../img/bag.svg) 3px 2px no-repeat;
}

.hero {
    position: relative;
    width: 100%;
}

.hero__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: flex-end;
}

.hero__info {
    flex: 0 1 640px;
    font-family: Lato, sans-serif;
    color: #2f302c;
    padding: 15px 0;
}

.hero__info h2 {
    padding: 0;
    margin: 0 0 20px 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    max-width: 518px;
    width: 100%;
}

.hero__info h1 {
    margin-bottom: 36px;
    font-family: Montserrat, sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 1.04;
    max-width: 518px;
    width: 100%;
}

.hero__info span {
    font-weight: 800;
    max-width: 518px;
    width: 100%;
}

.hero__info h1::after {
    content: "";
    height: 1px;
    display: block;
    background-color: #2f302c;
    width: 60%;
    margin-top: 16px;
    margin-left: 10px;
}

.hero__info p {
    max-width: 374px;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 500;
    line-height: 1.25;
    color: #7e7f7c;
    width: 100%;
}

.footer__container {
    padding: 25px 15px;
}

@media (width > 768px) {
    .action-header__link::after {
        content: "";
        display: block;
        height: 1px;
        background-color: rgb(47, 48, 44);
        width: 0%;
        transition: width 0.7s;
        margin-top: 1px;
    }
    .action-header__link:hover:after {
        width: 100%;
    }
}

@media (width <= 1422px) {
    .header__container {
        min-height: 120px;
        gap: 40px;
    }
    .action-header,
    .menu__list {
        gap: 8px 25px;
    }
    .menu__list {
        justify-content: center;
    }
    .hero__info h1 {
        font-size: 72px;
    }
    .hero__info h1::after {
        width: 44%;
    }
}

@media (width <= 1200px) {
    .header__search {
        flex-basis: 190px;
    }
    .hero__container {
        max-width: 1000px;
    }
    .hero__info {
        flex-basis: 450px;
    }
    .hero__info h1 {
        font-size: 60px;
    }
    .hero__info h1::after {
        width: 42%;
    }
    .hero__info h1 {
        margin-bottom: 25px;
    }
    .hero__info h2 {
        margin-bottom: 15px;
    }
}

@media (width <= 1006px) {
    .header__container {
        min-height: 100px;
        gap: 30px;
    }
    .action-header,
    .menu__list {
        gap: 8px 15px;
    }
    .header__logo {
        width: 37px;
        flex-shrink: 0;
        overflow: hidden;
    }
    .hero__container {
        max-width: 700px;
    }
    .hero__info {
        flex-basis: 350px;
    }
    .hero__info h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }
    .hero__info h2 {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .hero__info h1::after {
        margin-top: 10px;
    }
    .hero__info p {
        font-size: 14px;
    }
}

@media (width < 773px) {
    .header__container {
        min-height: 70px;
    }
    .header__menu-icon,
    .header__logo,
    .header__search,
    .header__action {
        position: relative;
        z-index: 3;
    }
    .menu__link::after {
        content: "";
        height: 2px;
    }
    .header__menu-icon {
        display: block;
        width: 30px;
        height: 18px;
        flex-shrink: 0;
    }
    .header__menu-icon span,
    .header__menu-icon::before,
    .header__menu-icon::after {
        content: "";
        height: 2px;
        width: 30px;
        background-color: #2f302c;
        position: absolute;
        right: 0;
        transition: all 0.3s;
    }
    .header__menu-icon::before {
        top: 0;
    }
    .header__menu-icon::after {
        bottom: 0;
    }
    .header__menu-icon span {
        top: 50%;
        translate: 0 -50%;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        background-color: #f6f6f6;
        z-index: 1;
        overflow: auto;
        transition: left 0.5s;
        padding: 120px 15px 30px;
    }
    .menu::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 70px;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 2;
    }
    .menu__list {
        flex-direction: column;
        row-gap: 30px;
    }
    .menu__link {
        font-size: 28px;
    }
    .header__search {
        flex-grow: 1;
    }
    .action-header__link {
        width: 25px;
        aspect-ratio: 1;
        padding-left: 0;
        font-size: 0;
        background-size: contain;
    }
    .action-header__link--love {
        background: url(../img/heart.svg) 4px 5px no-repeat;
    }
    .action-header__link--cart {
        background: url(../img/bag.svg) 5px 3px no-repeat;
    }
    [data-menu-open] .header__menu-icon span {
        width: 0;
    }
    [data-menu-open] .header__menu-icon::before {
        rotate: -45deg;
        top: 50%;
        translate: 0 -50%;
    }
    [data-menu-open] .header__menu-icon::after {
        rotate: 45deg;
        bottom: 50%;
        translate: 0 50%;
    }
    [data-menu-open] .menu,
    [data-menu-open] .menu::before {
        left: 0;
    }
    .hero__banner {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 3% center;
    }
    .hero__info p {
        color: #2f302c;
    }
}

@media (width < 480px) {
    .header__container {
        gap: 15px;
    }
    .header__logo {
        width: 28px;
    }
    .header__image-logo {
        width: 154px;
    }
    .search-header {
        border-radius: 5px;
        border: 1px solid #d4d4d4;
    }
    .search-header__button {
        display: none;
    }
    .search-header__input {
        height: 30px;
        padding: 0 5px;
    }
    .hero__banner {
        filter: blur(1.5px);
    }
    .hero__info h1 {
        font-size: 36px;
        margin-bottom: 16px;
    }
}

@media (width < 350px) {
    .search-header {
        padding: 0 5px;
    }
    .search-header__input::placeholder {
        opacity: 0;
    }
    .search-header__button {
        display: block;
    }
    .hero__banner {
        object-position: 10% center;
    }
}
