@font-face {
    font-family: "Lato";
    src: url("../fonts/LatoBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/LatoMedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
