@import url("reset.css");
@import url("fonts.css");

body {
    font-family: "Playfair Display", sans-serif;
    font-size: 18px;
}

.wrapper {
    position: relative;
    min-height: 100%;
    overflow: clip;
}

.footer,
.header {
    background-color: hsl(98, 61%, 76%);
}

.experiments,
.task,
.footer,
.header {
    padding: 10px;
}

.header__container {
    max-width: 1900px;
    text-align: center;
}

.menu__list {
    font-size: 0;
}

.submenu__item,
.menu__item {
    position: relative;
    display: inline-block;
}

.sub-submenu__item:hover .sub-submenu__link,
.submenu__item:hover .submenu__link,
.menu__item:hover .menu__link {
    color: #dc143c;
}

.submenu__item:hover .submenu__sub-submenu,
.menu__item:hover .menu__submenu {
    opacity: 1;
    visibility: visible;
}

.menu__item:not(:last-child) {
    margin-right: 500px;
}

.menu__link {
    padding: 10px;
}

.menu__submenu {
    position: absolute;
    top: 100%;
    left: 20px;
}

.submenu__sub-submenu {
    position: absolute;
    top: 0;
    left: 80px;
}

.submenu__sub-submenu,
.menu__submenu {
    background-color: #1baa7a;
    border: 2px solid rgb(51, 112, 51);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}

.sub-submenu,
.submenu {
    width: 150px;
    padding: 15px;
}

.menu__item:not(:last-child) {
    margin-bottom: 5px;
}

.sub-submenu__link,
.submenu__link,
.menu__link {
    font-size: 18px;
}

[class*="__wrapper"] {
    max-width: 1050px;
    margin: 0 auto;
}

[class*="__block"] p {
    text-align: center;
}

[class*="__link"] {
    color: rgb(27, 141, 218);
    padding: 20px 0;
}

[class*="__link--none-margin"] {
    padding: 5px 20px;
}

.footer__container p,
[class*="__link"]:not([class*="__link--none-margin"]) {
    margin-left: 30px;
}

.task h2,
h1 {
    font-family: "Montserrat";
    font-size: 42px;
    font-weight: 800;
    color: #dc143c;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(255, 0, 170, 0.507);
    line-height: 1.8;
    letter-spacing: 7px;
}

[class*="__title"] {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: rgb(255, 0, 170);
}

h2 {
    margin: 10px;
    padding: 30px;
}

[class*="__title"] span {
    color: #0ead78;
}

.task__clauses,
[class*="__wrapper"] {
    margin-bottom: 30px;
}

[class*="__block"] {
    max-width: 1000px;
    min-height: 100px;
    border: 2px solid rgb(73, 63, 63);
    border-radius: 20px;
}

[class*="--red"] {
    background-color: #a7364d;
}

[class*="--yellow"] {
    background-color: rgb(238, 216, 21);
}

[class*="--green"] {
    background-color: rgb(27, 148, 73);
}

[class*="--grey"] {
    background-color: rgb(153, 160, 155);
}

[class*="__block"] p {
    margin-top: 30px;
}

.first-experiment__block--yellow {
    position: relative;
    top: 30px;
    left: 40px;
}

.first-experiment__block--green {
    position: relative;
    right: 10%;
}

.first-experiment__block--green p {
    margin-left: 80px;
}

[class*="-experiment__block--yellow"] {
    position: relative;
    left: 60px;
    z-index: 2;
}

.fourth-experiment__block--yellow,
.second-experiment__block--yellow {
    bottom: 25px;
}

.second-experiment__block--green {
    min-height: 150px;
    position: relative;
    bottom: 150px;
    right: 10px;
    z-index: -2;
}

.second-experiment__block--grey {
    min-height: 150px;
    position: relative;
    bottom: 215px;
    left: 40px;
    z-index: 1;
    line-height: 40px;
}

.second-experiment__block--grey span {
    color: #0a6d13;
}

.fourth-experiment__block--green p,
.third-experiment__block--yellow p {
    margin: 0;
}

.third-experiment__block--green span {
    color: rgb(241, 238, 7);
}

.third-experiment__wrapper--relative {
    position: relative;
}

[class*="--litle"] {
    max-width: 200px;
    padding: 10px;
}

.third-experiment__block--position {
    position: absolute;
    top: 60px;
    left: 60px;
}

.third-experiment__block--absolute {
    position: absolute;
    top: 5%;
    left: 3%;
}

.fourth-experiment__block--green {
    position: fixed;
    top: 20px;
    right: 40px;
}

.fifth-experiment__block {
    border-radius: 20px 20px 0 0;
    position: sticky;
    top: 0;
}

.fifth-experiment__text {
    background-color: rgb(209, 190, 165);
    border-radius: 0 0 20px 20px;
    padding: 10px;
    max-width: 1000px;
}

.task__clauses {
    max-width: 350px;
    margin: 0 auto;
    border: 1px solid rgb(253, 251, 251);
    border-radius: 8px;
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
    background: #ffffff;
    margin-bottom: 30px;
}

.clauses__list {
    padding: 16px 0;
    min-width: 270px;
    height: 100%;
    max-height: 268px;
}

.clauses__item {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.01em;
    color: #252b42;
    margin-left: 40px;
    padding-left: 42px;
    position: relative;
    min-height: 32px;
}

.clauses__item:not(:last-child) {
    margin-bottom: 15px;
}

.clauses__item::before {
    content: "";
    background: url(../img/check-out.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    top: -5px;
}

.clauses__item:hover::before {
    background: url(../img/check.svg);
}

.task__products {
    max-width: 1200px;
}

.products-cards__wrapper,
.products-cards {
    font-size: 0;
    text-align: center;
    margin: 0 auto;
}

.products-cards h3 {
    font-family: "Playfair Display";
    font-size: 20px;
    line-height: 1.35;
    color: #000000;
    padding-bottom: 48px;
}

.products-cards h3::before {
    content: "";
    height: 1px;
    display: block;
    background-color: rgba(131, 127, 127, 1);
    max-width: 1000px;
    margin: 0 auto;
}

.products-cards h3::before {
    content: "";
    margin-bottom: 46px;
}

.products-cards__container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.products-cards__cards {
    margin: 0 -62.5px;
    font-size: 0;
    margin-bottom: 77px;
}

.products-cards__card {
    display: inline-block;
    padding: 0 62.5px;
    font-size: 16px;
    position: relative;
}

.products-cards__card a {
    max-width: 250px;
    position: relative;
}

.products-cards__content {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 3.8095%;
    color: #fff;
    text-align: center;
    z-index: 2;
}

.products-cards__content h4 {
    font-family: "Playfair Display";
    font-size: 28px;
    line-height: 1.32;
    margin-bottom: 110px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

.products-cards__content p {
    font-family: "Playfair Display";
    font-size: 17px;
    line-height: 1.35;
    color: rgb(255, 255, 255);
}

.products-cards__buttom {
    color: #000;
    font-size: 14px;
    line-height: 1.36;
    border: 1px solid #000;
    padding: 10px 50px 10px;
    margin-bottom: 30px;
}
