@font-face {
    font-family: "holos";
    src: url("../fonts/Holos-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GreatVictorian";
    src: url("../fonts/GreatVictorian/GreatVictorian-Standard.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "GreatVictorian";
    src: url("../fonts/GreatVictorian/GreatVictorian-Swashed.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GreatVictorian";
    src: url("../fonts/GreatVictorian/GreatVictorian-SwashedSC.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
